$black: #3b434e;
$grayLight: #ebebeb;
$white: white;
$background: #f5f6f8;
$primary: #7653fc;
$primaryHover: #5a39dd;
$red: #fcb36d;
$green: #1dc37e;
$greenLight: #c8f8e4;

$fontFamily: 'Noto Sans KR';
